<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,minimum-scale=1,user-scable=no">
		<link rel="stylesheet" type="text/css" href="../../public/css/wo/gerzliao.css"/>
		<style type="text/css">

		</style>
	</head>
	<body>
		<div class="top">
			<div class="lt"></div>
			<div class="lj"></div>
			<div class="font_or">个人资料</div>
		</div>
		<div class="ziliao">
		<div class="margin-top"></div>
		<div class="topimg"></div>
		<p class="nameid">呱呱呱叫</p>
		<p class="font_one">以前喜欢一个人，现在喜欢一个人</p>
		<div class="border_radius">编辑个人资料</div>
		</div>
		<div class="margin-top15"></div>
		<div class="contact">
			<div class="contact_number">
				<p class="number_one">联系方式</p>
				<p class="number_two">18956015463</p>
			</div>
			<div class="clear"></div>
			<div class="bottomimg">
				<div class="bottomimgone">
					<div class="one"></div>
					<p class="bottomfont">房屋租凭合同</p>
				</div>
				<div class="bottomimgtwo">
					<div class="two"></div>
					<p class="bottomfont">名片正面</p>
				</div>
			</div>
		</div>
	</body>
</html>
