<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,minimum-scale=1,user-scable=no">
		<link rel="stylesheet" type="text/css" href="../../public/css/wo/kaifs.css"/>
		<style type="text/css">

		</style>
	</head>
	<body>
		<div class="top">
			<div class="lt"></div>
			<div class="lj"></div>
			<div class="font_or">开发商</div>
		</div>
		<div class="clear"></div>
		<div class="gray">必填项</div>
		<div class="graybottom">
			<div class="touxtop"></div>
			<div class="toux">添加头像</div>
			<div class="toubottom"></div>
			<div class="touxtop"></div>
			
			<input type="text" class="gos" name="" id="" value="" placeholder="公司名"/>
			<div class="touxtop5"></div>
			<input type="text" class="gos" name="" id="" value=""  placeholder="企业邮箱/公司总机"/>
			<div class="touxtop5"></div>
			<input type="text" class="gos" name="" id="" value=""  placeholder="联系人" />
			<div class="touxtop5"></div>
			<input type="text" class="gos" name="" id="" value=""  placeholder="联系方式"/>
			<div class="touxtop5"></div>
		</div>
		<div class="gray">选填项</div>
		<div class="bottom_div">
		<div class="touxtop"></div>
		<input type="text" class="gos" name="" id="" value=""  placeholder="微信号码"/>
		<div class="touxtop"></div>
		
		<div class="ewm">微信二维码</div>
		<div class="ewm">营业执照</div>
		<div class="ewm">租售代理协议</div>
		</div>
		<div class="clear"></div>
		<div class="touxtop"></div>
		<div class="button">完成</div>
		
	</body>
</html>
