<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,minimum-scale=1,user-scable=no">
		<link rel="stylesheet" type="text/css" href="../../public/css/wo/mydl.css"/>
		<style>
		
		</style>
	</head>
	<body>
	<!--顶框-->	
		<div class="top">
			<div class="lj"></div>
			<p class="topcenter">我</p>
			<div class="shez"></div>
		</div>
		<div class="topx"></div>
		<div class="clear"></div>
	<!--头像部分-->	
		<div class="t_name">
			<div class="t_img"></div>
			<div class="t_font">点击登录/注册</div>
			<div class="t_gt"></div>
		</div>
		<div class="leftname">
			<span class="zore">0</span>
			<span class="font_one">收藏</span>
			<div class="border_right"></div>
		</div>
		<div class="rightname">
			<span class="zore">0</span>
			<span class="font_one">积分</span>
		</div>
		
		<div class="clear"></div>
		<div class="topx"></div>
	<!--发布需求-->	
	<div class="f_name">
			<div class="f_img"></div>
			<div class="f_font">我发布的需求</div>
			<div class="f_gt"></div>
		</div>	
	<div class="clear"></div>
		<div class="topx"></div>
	
	<div class="f_name">
			<div class="y_img"></div>
			<div class="f_font">我发布的房源</div>
			<div class="f_gt"></div>
		</div>	<div class="clear"></div>
		<div class="topx"></div>
	
	<div class="f_name">
			<div class="m_img"></div>
			<div class="f_font">我预约的房源</div>
			<div class="f_gt"></div>
		</div>	<div class="clear"></div>
		<div class="topx"></div>
	
	<div class="f_name">
			<div class="l_img"></div>
			<div class="f_font">历史交易</div>
			<div class="f_gt"></div>
		</div>	<div class="clear"></div>
		<div class="topx"></div>
	
	<div class="f_name">
			<div class="g_img"></div>
			<div class="f_font">过期房源</div>
			<div class="f_gt"></div>
		</div>	
	
	<!--底部-->		
		<div class="bottom">
			<div class="bottom_s">
				<div class="bottom_sone"></div>
				<p>首页</p>
			</div>	
			
			<div class="bottom_s">
				<div class="bottom_yone"></div>
				<p>预约</p>
			</div>
			
			<div class="bottom_j">
				
			</div>
			
			<div class="bottom_s">
				<div class="bottom_xone"></div>
				<p>信息</p>
			</div>
			
			<div class="bottom_s">
				<div class="bottom_wone"></div>
				<p class="orange">我</p>
			</div>
			
		</div>
	</body>
</html>
