<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,minimum-scale=1,user-scable=no">
		<link rel="stylesheet" type="text/css" href="../../public/css/wo/wangj.css"/>
		<style type="text/css">

		</style>
	</head>
	<body>
		<!--顶端-->
		<div class="top">
			<div class="lt"></div>
			<div class="lj"></div>
			<div class="font_or">忘记密码</div>
		</div>
		<div class="clear"></div>
		<!--输入框-->
		<div class="margin-top"></div>
		<div class="inp">
			<div class="texttop">
				<div class="textimg"></div>
				<span class="textfont">账号：</span>
				<input type="text" class="text" name="" id="" value="" placeholder="请输入您的手机号" />
			</div>
			<div class="codetop">
				<div class="codeimg"></div>
				<span class="codefont">验证码：</span>
				<div class="codediv">获取验证码</div>
				<input type="text" class="code" name="" id="" value="" placeholder="请输入验证码" />
			</div>
			
			<div class="paswtop">
				<div class="paswimg"></div>
				<span class="paswfont">密码：</span>
				<input type="text" class="pasw" name="" id="" value="" placeholder="请输入新的登录密码" />
			</div>
			
			<div class="paswttop">
				<div class="paswtimg"></div>
				<span class="paswtfont">密码：</span>
				<input type="text" class="pasw" name="" id="" value="" placeholder="请输入新的登录密码" />
			</div>
		</div>
		<!--登录-->
		<div class="margin-top60"></div>
		<div class="dengl">确定</div>
		<div class="margin-top"></div>
		
	</body>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script type="text/javascript">
	$(".pasw").blur(function(){
				if(($('.code').value != '')&&($('.pasw').value != '')&&($('.text').value != '')&&($('.pasw').value != '')){
					$('.dengl').css('background','#EA5404');
			}
			})
	$('#font_none').focus(function(){
			$('.none_div').css('display','block')
		
	})
	
	$('.dengl').click(function(){
				location.replace("dengl.html")
			})
	
	</script>
</html>
