<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,minimum-scale=1,user-scable=no">
		<link rel="stylesheet" type="text/css" href="../../public/css/wo/xuq.css"/>
		<style type="text/css">

		</style>
	</head>
	<body>
		<div class="top">
			<div class="lt"></div>
			<div class="lj"></div>
			<div class="font_or">收藏</div>
		</div>
		<div class="margin-top"></div>
		<div class="top_one">
			<div class="oneleft">需求</div>
			<div class="oneright"><a href="fangy.html">房源</a></div>
			<div class="center_bor"></div>
		</div>
		<div class="margin-top"></div>
		<div class="divone">
			<div class="onetop">
				<p class="font_one">一个新的租房需求</p>
				<p class="font_two">租户</p>
			</div>
				<p class="onebottom">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</p>	
				<div class="button">了解详情</div>
				<p class="number">08/04/13:06</p>
		</div>
		<div class="margin-top"></div>
		<div class="divone">
			<div class="onetop">
				<p class="font_one">一个新的租房需求</p>
				<p class="font_twotwo">经纪人</p>
			</div>
				<p class="onebottom">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m²/天左右，附近有地铁</p>	
				<div class="button">了解详情</div>
				<p class="number">08/04/13:06</p>
		</div>
	</body>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
		<script type="text/javascript">
			$('.lt').click(function(){
				location.replace("denglh.html")
			})
		</script>
</html>
