<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,minimum-scale=1,user-scable=no">
		 <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
   	 	<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
   											 摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<title>窝牛居 - 杭州摆摆网络科技有限公司</title>
		<link rel="stylesheet" type="text/css" href="../../public/css/xinxi/tongz.css"/>
		<style type="text/css">

		</style>
	</head>
	<body>
		<div class="toptop"></div>
		<div class="top">
			<div class="message_bar">
				<div class="message_one">消息</div>
				<div class="message_two">通知</div>
				<div class="message_three">需求</div>
			</div>
		</div>
		<div class="margin-top"></div>
		<div class="ing_one">
			<div class="top_font">
				<p class="font_left">房源维护提示</p>
				<p class="font_right">08/04/13:06</p>
			</div>
			<div class="bottom_font">
				<div class="bottom_one">您在本平台上传移除房源信息，现在有效期马上就要到了，请到"我发布的房源"中更新动态，5天后盖房源讲自动下架.
				</div>
				<div class="bottom_two">
					地址：徐汇-龙华 科技大厦
				</div>
			</div>
		</div>
		
		<div class="margin-top"></div>
		<div class="ing_one">
			<div class="top_font">
				<p class="font_left">房源维护提示</p>
				<p class="font_right">08/04/13:06</p>
			</div>
			<div class="bottom_font">
				<div class="bottom_one">您在本平台上传移除房源信息，现在有效期马上就要到了，请到"我发布的房源"中更新动态，5天后盖房源讲自动下架.
				</div>
				<div class="bottom_two">
					地址：徐汇-龙华 科技大厦
				</div>
			</div>
		</div>
		
		<div class="margin-top"></div>
		<div class="ing_one">
			<div class="top_font">
				<p class="font_left">房源维护提示</p>
				<p class="font_right">08/04/13:06</p>
			</div>
			<div class="bottom_font">
				<div class="bottom_one">您在本平台上传移除房源信息，现在有效期马上就要到了，请到"我发布的房源"中更新动态，5天后盖房源讲自动下架.
				</div>
				<div class="bottom_two">
					地址：徐汇-龙华 科技大厦
				</div>
			</div>
		</div>
		
		<div class="margin-top"></div>
		<div class="ing_one">
			<div class="top_font">
				<p class="font_left">房源维护提示</p>
				<p class="font_right">08/04/13:06</p>
			</div>
			<div class="bottom_font">
				<div class="bottom_one">您在本平台上传移除房源信息，现在有效期马上就要到了，请到"我发布的房源"中更新动态，5天后盖房源讲自动下架.
				</div>
				<div class="bottom_two">
					地址：徐汇-龙华 科技大厦
				</div>
			</div>
		</div>
		
		<div class="margin-top"></div>
		<div class="ing_one">
			<div class="top_font">
				<p class="font_left">房源维护提示</p>
				<p class="font_right">08/04/13:06</p>
			</div>
			<div class="bottom_font">
				<div class="bottom_one">您在本平台上传移除房源信息，现在有效期马上就要到了，请到"我发布的房源"中更新动态，5天后盖房源讲自动下架.
				</div>
				<div class="bottom_two">
					地址：徐汇-龙华 科技大厦
				</div>
			</div>
		</div>
			<!--底部-->		
		<div class="bottom" style="padding-right:10%;">
			<div class="bottom_s" id="shouye">
				<div class="bottom_sone"></div>
				<p>首页</p>
			</div>	
			
			<div class="bottom_s" id="yuyue">
				<div class="bottom_yone"></div>
				<p>预约</p>
			</div>
			
			<div class="bottom_j" id="fabu">
				
			</div>
			
			<div class="bottom_s">
				<div class="bottom_xone"></div>
				<p class="orange">信息</p>
			</div>
			
			<div class="bottom_s" id="wo">
				<div class="bottom_wone"></div>
				<p>我</p>
			</div>
			
		</div>
	</body>
	<script type="text/javascript">
		var xs = document.getElementsByClassName('message_three')[0];
		 xs.onclick=function(){
		location.replace("xuqiu.html")
		}
		 
		 var ys = document.getElementsByClassName('message_one')[0];
		 ys.onclick=function(){
		location.replace("xiaoxi.html")
		}
	</script>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script type="text/javascript">
		$('#shouye').click(function(){
		location.replace("../shouye/shouye.html")
		})

		$('#yuyue').click(function(){
				location.replace("../yuyue/jiedan.html")
				})
		$('#wo').click(function(){
				location.replace("../wo/mydl.html")
				})
		
		$('#fabu').click(function(){
				location.replace("../fabu/tiaoz.html")
			})
	</script>
</html>
