
				body{
					margin: 0;
					padding: 0;
					background: #FFFFFF;
					font-family: "微软雅黑";
				}
				
				.toptop {
					height: 10px;
					background: #fff;
				}
				
				.top {
					height: 40px;
					background: #fff;
				}
				
				.message_bar {
					width: 70%;
					height: 30px;
					border: 2px solid #EA5404;
					margin: auto;
					border-radius: 5px;
				}
				
				.message_one {
					width: 33%;
					height: 30px;
					float:right;
					text-align: center;
					line-height: 30px;
					font-size: 14px;
					color: #EA5404;
				}
				
				.message_two {
					width: 31%;
					height: 30px;
					float:right;
					text-align: center;
					line-height: 30px;
					border-right: 2px solid #EA5404;
					border-left: 2px solid #EA5404;
					font-size: 14px;
					color: #EA5404;
				}
				
				.message_three {
					width: 34%;
					height: 30px;
					float:right;
					text-align: center;
					line-height: 30px;
					font-size: 14px;
					color: #fff;
					background: #EA5404;
				}
.margin-top{
	height: 10px;
}
				
				
.divone{
	width: 90%;
	height: 150px;
	margin: auto;
	background: #fff;
	border-radius:4px;
	box-shadow: 1px 0px 10px 1px #C7C7C7;
}

.onetop{
	height:50px;
	width: 100%;
	background:url('../../img/content_list_border.9@2x.png') no-repeat 0px 42px ;
}
.font_one{
	height: 30px;
	width:50%;
	float: left;
	padding-left: 15px;
}
.font_two{
	height:20px;
	width:45px;
	background: #15B755;
	float: right;
	color: #fff;
	text-align: center;
	margin-right: 15px;
	font-size: 12px;
	border-radius:5px;
	margin-top:20px;
	line-height: 20px;
}

.font_twotwo{
	height:20px;
	width:45px;
	background: #0193E6;
	float: right;
	color: #fff;
	text-align: center;
	margin-right: 15px;
	font-size: 12px;
	border-radius:5px;
	margin-top:20px;
	line-height: 20px;
}
.onebottom{
	font-size: 12px;
	padding-left: 15px;
}
.button{
	width: 90px;
	height: 30px;
	background: #EFEFF4;
	font-size: 14px;
	color: #818181;
	text-align: center;
	line-height: 30px;
	float: left;
	border-radius:5px;
	border: 1px solid #eaeaea;
	margin-left: 37%;
}
.number{
	font-size: 12px;
	color: #ccc;
	float: right;
	margin-right: 15px;
	margin-top: 0px;
}
.oneright a{
	text-decoration: none;
	color: #000;
	
}

	
				.bottom {
					width: 100%;
					height: 50px;
					background: #FFFFFF;
					position: fixed;
					bottom: 0px;
				}
				
				.bottom_s {
					width: 20%;
					height: 40px;
					float: left;
					text-align: center;
					margin-top: 5px;
				}
				
				.bottom_sone {
					background: url('../../img/bottom_nor_icon04@2x.png') no-repeat center;
					background-size: 35%;
					height: 28px;
					margin: auto;
				}
				
				.bottom_yone {
					background: url('../../img/bottom_nor_icon03@2x.png') no-repeat center;
					background-size: 35%;
					height: 28px;
				}
				
				.bottom_j {
					background: url('../../img/bottom_icon05@2x.png') no-repeat center;
					background-size: 60%;
					float: left;
					width: 20%;
					height: 40px;
					margin-top: 5px;
				}
				
				.bottom_xone {
					background: url('../../img/bottom_press_icon02@2x.png') no-repeat center;
					background-size: 35%;
					height: 28px;
				}
				
				.bottom_wone {
					background: url('../../img/bottom_nor_icon01@2x.png') no-repeat center;
					background-size: 35%;
					height: 28px;
				}
				
				.bottom .orange {
					color: #ED6E2A;
				}
				
				.bottom p {
					font-size: 12px;
					height: 30px;
					margin: 0;
					padding: 0;
					color: #CCCCCC;
				}