<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,minimum-scale=1,user-scable=no">
		<link rel="stylesheet" type="text/css" href="../../public/css/wo/guanyu.css"/>
		<style type="text/css">

		</style>
	</head>
	<body>
			<div class="top">
			<div class="lt"></div>
			<div class="lj"></div>
			<div class="font_or">关于</div>
		</div>
		<div class="clear"></div>
		<div class="wimg">
			<div class="margin-top"></div>
			<div class="imgone"></div>
			<div class="margin-top10"></div>
			<div class="imgtwo">
			<div class="imgleft"></div>
			<div class="imgright">v1.0.0</div>
			</div>
		</div>
		<div class="shifo">
		<div class="font_one">电话</div>
		<div class="right"></div>
		<p class="rightp">021-68547845</p>
	</div>
	<div class="margin-top10"></div>
	<div class="shifo">
		<div class="font_one">服务条款</div>
		<div class="right"></div>
	</div>
	<div class="margin-top300"></div>
	<p class="font_bottom">©2016 All Rights Reserved</p>
	</body>
</html>
