<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,minimum-scale=1,user-scable=no">
		<title>强占民居_租窝</title>
		<link rel="stylesheet" type="text/css" href="../../public/css/shouye/shouye.css"/>
		<style type="text/css">
			
		</style>
	</head>
	<body >
		<div class="top">
			
			<!--<div id="left">&lt;</div>
			<div id="right">&gt;</div>-->
		<ul id="box">
		<li class="bone"><img src="../../public/img/banner_img@2x.png"/></li>
		<li><img src="../../public/img/omdexjdh4-50_jsq.jpg"/></li>
		<li><img src="../../public/img/content_img_home03@2x.png"/></li>
		</ul>
		
		<ul id="bottom">
			<li class="bottomone"></li>
			<li></li>
			<li></li>
		</ul>
		
		
		<div id="font_top">强占民居_租窝<br />(是租不是猪,出租是屋不租猪)</div>
		
		
		<div id="dname">上海</div><p class="nonenameimg1"><img src="../../public/img/nav_icon_down@2x.png"/></p>
		
		<input type="text" name="" id="inp" value="" placeholder="挑好房，上租窝" />
		<p class="suo"><img src="../../public/img/banner_icon_search@2x.png"/></p>
		
		<div class="clear"></div>
		
		
		
		
		</div>
		<div class="height"></div>
		
		<ul class="uling" id="uling">
			
			<li class="oneli" id="click_one">
				<div class="font_li">区域</div>
				<div class="botli"></div>
				
			</li>
			<li class="oneli" id="click_two">
				<div class="font_li">面积</div>
				<div class="botli"></div>
				
			</li>
			<li class="oneli" id="click_san">
				<div class="font_li">单价</div>
				<div class="botli"></div>
				
			</li>		
			<li class="oneli" id="click_si">
				<div class="font_li">更多</div>
				<div class="botli"></div>
				
			</li>
			<li class="rightli">
			
				
			</li>
			<div class="none">
				<div>北风吹，秋风凉</div>
				<div>谁家娇妻守空房</div>
				<div>你有困难我帮忙</div>
				<div>我住隔壁我姓王</div>
				<div>隔壁寡妇守空房</div>
				<div>含泪求我来帮忙</div>
				<div>村头老宋他媳妇</div>
				<div>求我不忘来光顾</div>
				<div>老王我人实在忙</div>
				<div>不为自己为她人</div>
				<div>一生忙禄为哪般</div>
				<div>只求世间没空床</div>
				<div>世人皆言老王好</div>
				<div>直使妇人不乱跑</div>
				<div>君不信，请听隔壁床又响</div>
				<div>_____________</div>
				<div class="bottom_pad">
				<input type="text"  class="soleft_bottom"/>
				<p class="socenter_bottom"></p>
				<input type="text"  class="soright_bottom"/>
				<button  class="sobutton_bottom">确定</button>
				</div>
				
			</div>
			<div class="none">
				<div>全部</div>
				<div>100m²以下</div>
				<div>100-200m²</div>
				<div>200-300m²</div>
				<div>300-500m²</div>
				<div>500-1000m²</div>
				<div>1000m²以上</div>
				<div class="bottom_pad">
				<input type="text"  class="soleft_bottom"/>
				<p class="socenter_bottom"></p>
				<input type="text"  class="soright_bottom"/>
				<button  class="sobutton_bottom">确定</button>
				</div>
			
			</div>
			<div class="none">
				<div>全部</div>
				<div>3元/m²/天</div>
				<div>3-4元/m²/天</div>
				<div>4-5元/m²/天</div>
				<div>5-7元/m²/天</div>
				<div>7-9元/m²/天</div>
				<div>9-12元/m²/天</div>
				<div>12元/m²/天以上</div>
				<div class="bottom_pad">
				<input type="text"  class="soleft_bottom"/>
				<p class="socenter_bottom"></p>
				<input type="text"  class="soright_bottom"/>
				<button  class="sobutton_bottom">确定</button>
				</div>
			</div>
			<div class="none">
				<ul class="yy">
					<li>房型</li>
				</ul>
				<ul class="yy">
					<li>地铁</li>
				</ul>
				<ul class="yy">
					<li>装修</li>
				</ul>
				
				<!--<div class="clear"></div>-->
				<ul class="xx">
					<li>全部</li>
					<li>豪装</li>
					<li>精装</li>
					<li>简装</li>
					<li>标准交付</li>
					<li>毛坯</li>
				
				</ul>
				
				<!--<span class="clear"></span>-->
				
				
				<ul class="xx">
					<li>全部</li>
					<li>1号线</li>
					<li>2号线</li>
					<li>3号线</li>
					<li>4号线</li>
					<li>1号线</li>
					<li>2号线</li>
					<li>3号线</li>
					<li>4号线</li>
				</ul>
				<ul class="xx">
					<li>全部</li>
					<li>100m²以下</li>
					<li>100-200m²</li>
					<li>200-300m²</li>
					<li>300-500m²</li>
					<li>500-1000m²</li>
					<li>1000m²以上</li>
				</ul>
				
				
				
				
				
			
				
			
			</div>
		</ul>
		
		
			<div class="margin-top"></div>
		
		<div class="total_img">
			<div class="img_div"></div>
			<div class="font_div">
				<div class="font_one">东方金融中心</div>
				<div class="font_two">浦东-八百伴</div>
				<div class="min_button">商务中心</div>
				<p class="font_color"><a href="#">¥7</a> 元/平米/天起</p>
			</div>
			<div class="font_right">
				<div class="right_img"></div>
				<div class="right_font">佣金：1个月</div>
			</div>
		</div>
		
		<div class="margin-top"></div>
		
		<div class="total_img">
			<div class="img_div"></div>
			<div class="font_div">
				<div class="font_one">东方金融中心</div>
				<div class="font_two">浦东-八百伴</div>
				<div class="min_button">商务中心</div>
				<p class="font_color"><a href="#">¥7</a> 元/平米/天起</p>
			</div>
			<div class="font_right">
				<div class="right_img"></div>
			</div>
		</div>
		<div class="margin-top"></div>
		
		<div class="total_img">
			<div class="img_div"></div>
			<div class="font_div">
				<div class="font_one">东方金融中心</div>
				<div class="font_two">浦东-八百伴</div>
				<div class="min_button">商务中心</div>
				<p class="font_color"><a href="#">¥7</a> 元/平米/天起</p>
			</div>
			<div class="font_right">
				<div class="right_img"></div>
			</div>
		</div>
		<div class="total_img">
			<div class="img_div"></div>
			<div class="font_div">
				<div class="font_one">东方金融中心</div>
				<div class="font_two">浦东-八百伴</div>
				<div class="min_button">商务中心</div>
				<p class="font_color"><a href="#">¥7</a> 元/平米/天起</p>
			</div>
			<div class="font_right">
				<div class="right_img"></div>
			</div>
		</div>
		<div class="total_img">
			<div class="img_div"></div>
			<div class="font_div">
				<div class="font_one">东方金融中心</div>
				<div class="font_two">浦东-八百伴</div>
				<div class="min_button">商务中心</div>
				<p class="font_color"><a href="#">¥7</a> 元/平米/天起</p>
			</div>
			<div class="font_right">
				<div class="right_img"></div>
			</div>
		</div>
		<div class="total_img">
			<div class="img_div"></div>
			<div class="font_div">
				<div class="font_one">东方金融中心</div>
				<div class="font_two">浦东-八百伴</div>
				<div class="min_button">商务中心</div>
				<p class="font_color"><a href="#">¥7</a> 元/平米/天起</p>
			</div>
			<div class="font_right">
				<div class="right_img"></div>
			</div>
		</div>
		
		<div class="margin-top"></div>
		
		<div class="total_img">
			<div class="img_div"></div>
			<div class="font_div">
				<div class="font_one">东方金融中心</div>
				<div class="font_two">浦东-八百伴</div>
				<div class="min_button">商务中心</div>
				<p class="font_color"><a href="#">¥7</a> 元/平米/天起</p>
			</div>
			<div class="font_right">
				<div class="right_img"></div>
			</div>
		</div>
		
		<div class="margin-top"></div>
		<div class="total_img">
			<div class="img_div"></div>
			<div class="font_div">
				<div class="font_one">东方金融中心</div>
				<div class="font_two">浦东-八百伴</div>
				<div class="min_button">商务中心</div>
				<p class="font_color"><a href="#">¥7</a> 元/平米/天起</p>
			</div>
			<div class="font_right">
				<div class="right_img"></div>
			</div>
		</div>
		<div class="right_bottom" id="top_scr">
			
		</div>
		
		
		<div class="margin-top"></div>
		<div class="margin-top50"></div>
		<div class="bottom">
			<div class="bottom_s">
				<div class="bottom_sone"></div>
				<p class="orange">首页</p>
			</div>	
			
			<div class="bottom_s" id="yuyue">
				<div class="bottom_yone"></div>
				<p>预约</p>
			</div>
			
			<div class="bottom_j" id="fabu">
				
			</div>
			
			<div class="bottom_s" id="xinxi">
				<div class="bottom_xone"></div>
				<p>信息</p>
			</div>
			
			<div class="bottom_s" id="wo">
				<div class="bottom_wone"></div>
				<p>我</p>
			</div>
			
		</div>
		
		<div class="scroll_top" id="scrl">
			<div class="nonename" id="shanghai">上海</div><span class="nonenameimg"><img src="../../public/img/nav_icon_down@2x.png"/></span>
			<input type="text" class="noneinp" name="" id="ipn" value="" placeholder="挑好房，上租窝" />
		</div>
		<div class="top_bootom" style="overflow: hidden;" id="top_bottom">
			<p class="font_qx" id="qx">取消</p>
			
			<input type="text" class="topinp" name="" id="" value="" placeholder="挑好房，上租窝" />
			<div class="img_inp"></div>
			<div class="margin-top50"></div>
			<div class="margin-top10"></div>
			<div class="width_height">
				<p class="p_left">最近搜索</p>
				<p class="p_right">清除</p>
			</div>
			<div class="one_none_font">创意产业园</div>
			<div class="one_none_font">陆家嘴</div>
		</div>
		<div class="top_bootom_two" id="top_two">
			<div class="top_top">
			<div class="font_or" id="gb">关闭</div>
			<div class="div_right_none"></div>
			<div class="font_center">选择城市</div>
			<div class="clear"></div>
			<div class="one_none_font">北京</div>
			<div class="one_none_font">上海</div>
			</div>
		</div>
	</body>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	
	<script src="../../public/js/shouye/shouye.js">
	</script>
</html>
