<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,minimum-scale=1,user-scable=no">
		 <meta name="keywords" content="杭州摆摆网络科技有限公司"/>
   	 	<meta name="description" content="杭州摆摆网络科技有限公司是一家互联网制作及设计的现代设计公司
   											 摆摆网络将市场定位于以企业互联网电子商务平台及企业信息化建设为基点，提供全方位的设计与应用方案。以网站建设及网络营销整合作为其主打服务产品之外，摆摆网络的服务范围包括软件开发、平面设计、界面设计、网页设计等多方位优质服务。 "/>
		<title>窝牛居 - 杭州摆摆网络科技有限公司</title>
		<link rel="stylesheet" type="text/css" href="../../public/css/yuyue/dingdan3.css"/>
		<style type="text/css">
			
		</style>
	</head>
	<body>
		<div class="top">
			<div class="lt"></div>
			<div class="lj"></div>
			<div class="font_or">预约详情</div>
		</div>
		
		<div class="font_none">预约人</div>
		<div class="top_img_font">
			<div class="img_"></div>
			<div class="font_topbot">
				<div class="font_one">你才是张三</div>
				<div class="font_two">租户</div>
			</div>
			<div class="right_img_du"></div>
		</div>
		<div class="clear"></div>
		<div class="font_none">预约信息</div>
		<div class="top_font_fl">
			<div class="left_font_fl">
				<div class="font_oo">华旭国际大厦</div>
				<div class="font_cc">区域：黄埔-人民广场</div>
				<div class="font_cc">面积：766m²</div>
			</div>
			<div class="right_font_fl">
				<div class="font_cc">房型：商务中心</div>
				<div class="font_cc">单价：¥5.5元/m²/天起</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="font_none">预约时间</div>
		<div class="top_time">2016-08-08</div>
		
		<div class="submit">接单</div>
		<div class="none_ccc">
			<div class="alert">
				<div class="alert_top">您确定要拨打电话吗</div>
				<div class="alert_bottom_left">取消</div>
				<div class="alert_bottom_right">确认</div>
			</div>
		</div>
	</body>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script type="text/javascript">
	$('.submit').click(function(){
		location.replace("dingdxq.html")
		})
	$('.right_img_du').click(function(){
		$('.none_ccc').css('display','block')
			})
		$('.alert_bottom_left').click(function(){
		$('.none_ccc').css('display','none')
		})
		$('.alert_bottom_right').click(function(){
		$('.none_ccc').css('display','none')
		})
		$('.lt').click(function(){
		location.replace("jiedan.html")
		})
	</script>
</html>
