<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,minimum-scale=1,user-scable=no">
		<link rel="stylesheet" type="text/css" href="../../public/css/yuyue/dingdan4.css"/>
		<style type="text/css">
		
		</style>
	</head>
	<body>
		<div class="top">
			<div class="lt"></div>
			<div class="lj"></div>
			<div class="font_or">订单详情</div>
		</div>
		
		<div class="font_none">预约人</div>
		<div class="top_img_font">
			<div class="img_"></div>
			<div class="font_topbot">
				<div class="font_one">你才是张三</div>
				<div class="font_two">租户</div>
			</div>
			<div class="right_img_du"></div>
		</div>
		<div class="clear"></div>
		<div class="font_none">预约信息</div>
		<div class="top_font_fl">
			<div class="left_font_fl">
				<div class="font_oo">华旭国际大厦</div>
				<div class="font_cc">区域：黄埔-人民广场</div>
				<div class="font_cc">面积：766m²</div>
			</div>
			<div class="right_font_fl">
				<div class="font_cc">房型：商务中心</div>
				<div class="font_cc">单价：¥5.5元/m²/天起</div>
			</div>
		</div>
		<div class="clear"></div>
		<div class="font_none">预约时间</div>
		<div class="top_time">2016-08-08</div>
		<div class="font_none">预约状态</div>
		<div class="time_one">
			<div class="left_time">
				<div class="font_time_one">08/10</div>
				<div class="font_time_two">周三</div>
			</div>
			<div class="right_time">订单成功</div>
		</div>
		<div class="time_one">
			<div class="left_time">
				<div class="font_time_one">08/08</div>
				<div class="font_time_two">周一</div>
			</div>
			<div class="right_time">已接单，待看房</div>
		</div>
		<div class="time_one">
			<div class="left_time">
				<div class="font_time_one">08/06</div>
				<div class="font_time_two">周六</div>
			</div>
			<div class="right_time">等待对方接单</div>
		</div>
		
	</body>
	<script src="//cdn.bootcss.com/zepto/1.0rc1/zepto.min.js"></script>
	<script type="text/javascript">
	$('.lt').click(function(){
		location.replace("dingdxq.html")
		})
	</script>
</html>
