<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
				<meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,minimum-scale=1,user-scable=no">
		<link rel="stylesheet" type="text/css" href="../../public/css/yuyue/fangy.css"/>
		<style type="text/css">

		</style>
	</head>
	<body>
		<div class="top">
			<div class="lt"></div>
			<div class="lj"></div>
			<div class="font_or">收藏</div>
		</div>
		<div class="margin-top"></div>
		<div class="top_one">
			<div class="oneleft"><a href="xuq.html">需求</a></div>
			<div class="oneright">房源</div>
			<div class="center_bor"></div>
		</div>
		<div class="margin-top"></div>
		
		<div class="total_img">
			<div class="img_div"></div>
			<div class="font_div">
				<div class="font_one">东方金融中心</div>
				<div class="font_two">浦东-八百伴</div>
				<div class="min_button">商务中心</div>
				<p class="font_color"><a href="#">¥7</a> 元/平米/天起</p>
			</div>
			<div class="font_right">
				<div class="right_img"></div>
				<div class="right_font">佣金：1个月</div>
			</div>
		</div>
		
		<div class="margin-top"></div>
		
		<div class="total_img">
			<div class="img_div"></div>
			<div class="font_div">
				<div class="font_one">东方金融中心</div>
				<div class="font_two">浦东-八百伴</div>
				<div class="min_button">商务中心</div>
				<p class="font_color"><a href="#">¥7</a> 元/平米/天起</p>
			</div>
			<div class="font_right">
				<div class="right_img"></div>
			</div>
		</div>
	</body>
</html>
